<div class="heading">
  <h3>
    <%= link_to "Home", "https://www.facebook.com/CwLRwN?ref=br_tf" %>
  </h3>
</div>
<div class="content">
  <p>
    If we had to use one word to describe our show, this would be too many.
  </p>
</div>
