<div class="heading">
  <h3>
    <%= link_to "Episodes", "http://www.youtube.com/playlist?list=PL3A7OG6QLl5k-qiUgpM5zYRYu7gln4ra4" %>
  </h3>
</div>
<div class="content">
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/HeIGX5QyTBk?list=PL3A7OG6QLl5k-qiUgpM5zYRYu7gln4ra4"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/8vB-TehYZvs"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/26nDYQIL17I"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/9Hh0Kj686iA"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/x5607HGYpm8"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/bRdops5lRZg"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/ivCoui7rtHg"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/4GMijFaCJyY"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/0MNoQoGWOKE"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/sWcEMFwBzKs"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/2-8u48N2Ba4"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/zdaDL2KU5lw"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/hY6w8mX_d2s"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/rDvYIoYX8Io"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="episode">
    <iframe
      width="280"
      height="157"
      src="//www.youtube.com/embed/PufIuMfwXwU"
      frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
