<div class="footer">
  <div>
    <div class="center">
      Produced by <%= link_to "Brian Prats", "http://brianprats.com" %>, he who has yet to be seen<br>
      Counting with Letters, Reading with Numbers<br>
    </div>
  </div>
</div>

<%= render :partial => "modals/top_comments_modal" %>
