<head>
  <meta property="og:url" content="http://www.cwlrwn.com">
  <meta property="og:title" content="Counting with Letters, Reading with Numbers">
  <meta property="og:description" content="Counting with Letters, Reading with Numbers is a youtube TV show featuring many guest stars.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Counting with Letters, Reading with Numbers</title>
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag       "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
